
.song-artist { color: gray; font-size: 80%; }
.song-list { display: table; width: 100%;}
.song-status { font-size: 80%; }
.song-list-header { display: table-header-group; }
.song-list-footer { display: table-footer-group; }
.song-list-header span, 
.song-list-footer span {
    display: table-cell;
    padding: 4px;
    border-bottom: 1px solid gray;
    border-right: 1px solid lightgray;
    text-align: center;
    background: lightgray;
}
.song-list-header span {
    border-top: 1px solid gray;
}
.songs { display: table-row-group; }
.song {
    display: table-row;
}
.song-information,
.song-status,
.song-player {
    display: table-cell;
    padding: 4px;
    border-bottom: 1px solid gray;
    border-right: 1px solid lightgray;
}

.song-player.no-entry,
.song-player.yield-sell {
    color: #00f;
}

.song-player { text-align: center; }

.song-player .blank {
    color: lightgray;
}
.song-information {
    width: 18em;
}
