
.song-artist { color: gray; font-size: 80%; }
.song-list { display: table; width: 100%;}
.song-status { font-size: 80%; }
.song-list-header { }
.song-list-footer { }
.song-list-header th, 
.song-list-footer th {
    padding: 4px;
    border-bottom: 1px solid gray;
    border-right: 1px solid lightgray;
    text-align: center;
    background: lightgray;
}
.song-list-header span {
    border-top: 1px solid gray;
}
.songs { }
.song { }

.song-information,
.song-status,
.song-player {
    padding: 4px;
    border-bottom: 1px solid gray;
    border-right: 1px solid lightgray;
}

.song-player.no-entry,
.song-player.yield-sell {
    color: #00f;
}

.song-player { text-align: center; }

.song-player .blank {
    color: lightgray;
}
.song-information {
    width: 18em;
}

.song-properties {
    padding: 4px;
}
